---
import ProjectCard from 'src/components/ProjectCard.astro'
import IndexPageLayout from "../../layouts/IndexPageLayout.astro";
import { getAndGroupUniqueTags } from "../../lib/utils";


/**
 * This is to fetch all unique tags and related content (project experience etc) for each tag
 * And then render the content for each tag
 **/
export async function getStaticPaths() {
  const tagItemsMap = await getAndGroupUniqueTags();
  // console.log('tagItemsMap', tagItemsMap);

  const result = []
  tagItemsMap.forEach(
    (items, tag) => {
      result.push({
        params: {tag}, props: {items},
      });
    }
  );
  return result;
}

const {tag} = Astro.params;
const items = Astro.props?.items.sort((a, b) => b.data.startDate - a.data.startDate);
---
<IndexPageLayout title={tag} description="A new dimension to access content of this website" subTitle={tag}>
 <div class="grid grid-cols-3 gap-3">
  {
    items?.map((tag) =>
      <>
        <ProjectCard url={`/posts/${tag.slug}/`} heading={tag.data.title} subheading={tag.data.description}
                     imagePath={tag.data?.image?.url}
                     altText={tag.data?.image?.alt} dateStart={tag.data.startDate}

        />
      </>
    )
  }
 </div>
</IndexPageLayout>
