---
import ProjectCard from 'src/components/ProjectCard.astro'
import { getCollection } from "astro:content";
import IndexPageLayout from "../../layouts/IndexPageLayout.astro";



// read mdx files from projects folder as entities
const projects = await getCollection('projects');

const projectsDescription = "Below are some of the recent projects I have worked on that are publicly available. These projects were built collaboratively, and I played a significant role in their development. Each description highlights my contributions and the skills I applied to deliver impactful solutions.";

// sort projects by dateStart DESC
projects.sort((a: any, b: any) => {
  return new Date(b.data.startDate) - new Date(a.data.startDate);
});
---

<IndexPageLayout title="Projects" description={projectsDescription} subTitle="My Projects">
  <div class="flex flex-wrap justify-center gap-4 w-full">
  {
    projects.map((entity: any) => (
      <ProjectCard
        class="p-item w-full sm:w-1/3 md:w-5/12"
        key={entity.data.title}
        href={'/projects/' + entity.slug}
        heading={entity.data.title}
        subheading={entity.data.description}
        altText={entity?.data?.image.alt}
        imagePath={entity?.data?.image.url}
        dateStart={entity.data.startDate}
      />
    ))
  }
  </div>


</IndexPageLayout>
